@import "tailwindcss";
@import "tw-animate-css";
/*---break---*/
@custom-variant dark (&:is(.dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    --lb-clr:#65cbf5;
    --gry-clr:#d9d9d9;
    --db-clr:#222a2c;
    --placeholder-lb-clr:#bce1f3;
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

#root{
  width:100%;
}

.lb {
  color: var(--lb-clr);
}

.add-word-wrapper{
  margin: 25px 0;
}

.add-word{
  display:flex;
  flex-direction: row;
  width: 100%;
  text-align: left;
}

.add-word > div {
  padding: 5px;
  border: 1px solid var(--lb-clr);
  border-right:none;
  width:25%;
}

.add-word > div > .difficulty-item{
  display:flex;
  padding: 5px 0;
  align-items: center;
  justify-content: space-between;
}

.add-word > div > .difficulty-item > div{
  width:50%;
}

.add-word > div > input {
  padding:10px 5px;
  background: var(--placeholder-lb-clr);
  color: var(--gry-clr);
}

.add-word > .word > input{
  color: black;
}

.submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none !important;
}

.submit > button {
  padding: 10px 25px;
  background: var(--lb-clr);
  color: var(--db-clr);
  border-radius:0;
  cursor: pointer;
}

.br{
  border-right: 1px solid var(--lb-clr) !important;
}

.wl-wrapper{
  border: 1px solid var(--lb-clr);
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--lb-clr);
  margin: 25px 0;
}

.wl-header {
  text-align: center;
  border-bottom: 1px solid var(--lb-clr);
  display:flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  padding:0;
}

.wl-header > div , .wl-body > div {
  width:20%;
  padding: 5px 25px;
}

.wl-header > .wl-h-type-diff, .wl-body .wl-type-diff{
  width:60%;
}

.wl-body {
  text-align: left;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.wl-body > .wl-words, .wl-categories{
  display:flex;
  align-items: center;
}

.Easy{
  color:#1DC386;
}
.Medium{
  color:#3CC2F7;
}
.Hard{
  color:#F38357;
}
.Impossible{
  color:#D34848;
}



.notification-wrapper{
  border: 1px solid var(--lb-clr);
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  color: var(--lb-clr);
  padding:25px;
  position: relative;
}

.notification-wrapper > h2{
  padding-bottom:25px;
}

.notification-wrapper > div{
  padding: 10px 0px;
}

.notification-close {
  position: absolute;
  top:10px;
  right:15px;
  padding: 0!important;
  cursor: pointer;
}




/******* General *********/
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--db-clr);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color:#e46f97;
  color:#f56597;
}

h2{
  font-size:2em;
  color: #B99646!important;
}

button{
  border:none;
}

.hidden{
  display: none;
}





/********* ShadUI Overrides ***********/
.categories > div, .game-types > div {
  background:var(--placeholder-lb-clr) ;
  color: var(--db-clr) ;
  border-radius:0 ;
  border:0;
}

button role[radio] {
  color:red !important;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color:#e46f97;
  color:#f56597;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/*---break---*/

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/*---break---*/

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

/*---break---*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
